div
{

width: 200px;
height: 200px;
display:flex;
background-color: cadetblue;
}
body
{
    background-color: rgb(61, 63, 62);
}

main
{
    width: 50%;
    height: 80%;
margin: auto;
display: flex;
}
